<section class="phx-hero">
  <h1> Welcome to "Erlang Twitter" </h1>
  <p>Designed and Developed by</p>
  <h2>Bhuwan Bhatt</h2>
  <p>Written in :Phoenix Framework & Elixir Programming language which runs on top of Erlang VM  </p>
</section>


 
